section {
    outline: 0;
    margin: 0;
     background: url('../img/111.jpg') no-repeat center center;
    height: 100vh;
    background-size: cover;
}

{
    
}

*  {
    margin: 0;
    padding: 0;
}


.menu {
    /**width: 573px;**/
    height: 654px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    margin: 40px 0 0 0;
    padding: 30px;
}

.menu p {
    color: #fff;
    font-size: 20px;
}

.buttons, .social-icons {
    margin: 80px 0 0 0;
}
.social-icons {
    vertical-align: middle;
    color: #fff;
    width: 335px;
    height: 65px;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 5px;
}
.social-icons p {
    font-size: 22px;
    padding: 15px 0;
}



/** media **/

@media only screen and (max-width: 1200px) {
    
    
    
}

@media only screen and (max-width: 992px) {

  

}

@media only screen and (max-width: 768px) {
    
     .buttons {
        text-align: center;
    }
    
    .social-icons {
        margin: 30px auto;
    }
    
    section {
        height: 125vh;
    }
  
    
}

@media only screen and (max-width: 480px) {
    .menu p {
        font-size: 17px;
    }
    
    .social-icons { 
        width: 220px;
        margin: 0;
    }
    
    .buttons {
        text-align: center;
        margin: 35px 0;
    }
    
}
